<ion-header>
  <ion-toolbar>
  <ion-title color="success" type="light" >Selamat Datang di Aplikasi Form Pendaftaran RS Jakarta Pasien Rawat Jalan </ion-title>
  <ion-buttons slot="start">
  <ion-back-button>dc</ion-back-button>
  </ion-buttons>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
  <ion-card class="welcome-card bg-content">
  <ion-card-content>
    
    
    
  <!--ini kolom-->
  
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <!-- Gambar Profil -->
  <ion-col size="10">
  <ion-card>
    <ion-img src="assets/icon/rs.png" width="100%"></ion-img>
  </ion-card>
</ion-col>

<ion-segment>

    <ion-text color="medium">
      <h1><strong>Sejarah RS Jakarta</strong></h1>
      
    </ion-text>
  
</ion-segment>

  <ion-text>
    <ion-card>
    <ion-card-content>
<p>Dimulai dari gagasan R. Aris Munandar -Pegawai Tinggi Kementrian Sosial RI di tahun 1953-untuk mendirikan sebuah Rumah Sakit Swasta Nasional yang dapat menjangkau semua lapisan masyarakat tanpa membedakan asal usul suku, aliran,agama,dan politik, ide tersebut disambut baik oleh Presiden Ir. Soekarno dan mendapatkan dukungan dari rekan-rekannya seperti DR. AWJ Suradi, RM Joedono, dan Dr. Boentaran Martoatmodjo (Menteri Kesehatan RI dalam kabinet pertama Indonesia). Maka, untuk mewujudkan ide mulia tersebut, didirikanlah Yayasan Rumah Sakit Jakarta pada tanggal 10 November 1953 guna mengelola sebuah Rumah Sakit Swasta nasional yang dipersembahkan untuk kepentingan masyarakat.</p>
</ion-card-content>
</ion-card>
</ion-text>

<ion-button id="open-modal" expand="" color="success" type="light">Daftar Nama Dokter</ion-button>


    <ion-card-content>
     
    </ion-card-content>


    <ion-segment>
      <ion-segment-button value="acara">
        <ion-text color="medium">
          <h1>FASILITAS DAN LAYANAN</h1>
        </ion-text>
      </ion-segment-button>
    </ion-segment>
    
    <ion-list>
    <ion-grid>
      <!-- Baris pertama -->
      <ion-row>
        <!-- Kolom 1 -->

        


        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/UGD.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>UGD</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 2 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/ri.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>RAWAT INAP</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 3 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/rj.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>RAWAT JALAN</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 4 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/FISIO.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>FISIOTERAPY</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <!-- Baris kedua -->
      <ion-row>
        <!-- Kolom 5 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/LAB.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>LABORATURIUM</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 6 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/FARMASI.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>FARMASI</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!-- Kolom 7 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/mcu.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>MEDICAL CHECK UP</p>
              </ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 8 -->
        <ion-col size="5" size-md="3">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/bedah.png" alt="Foto Acara Kampus 4">
              <ion-card-content>
                <p>BEDAH</p>
              </ion-card-content>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
 
     

 
  <!-- Riwayat Pendidikan -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Layanan Unggulan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="book" slot="start"></ion-icon>
          Jakarta Dental Clinic
        </ion-item>
        <ion-item>
          <ion-icon name="book" slot="start"></ion-icon>
          Jakarta Orthopedic Center
        </ion-item>
        <ion-item>
          <ion-icon name="book" slot="start"></ion-icon>
          Klinik Mata Jakarta Aini
        </ion-item>
       
      </ion-list>
    </ion-card-content>
  </ion-card>

    <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/arya.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Arya Wiranata</h2>
                <p>Dokter Umum</p>
              </ion-label>
            </ion-item>
           
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/lisda.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Lisda Herawati Anindita</h2>
                <p>Dokter Umum (MCU)</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/lady.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Lady Dhita Alfara, M.Gizi, SpGK</h2>
                <p>Dokter Spesialis Gizi Klinik</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/wita.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Wita Jayanti, SpM</h2>
                <p>Dokter Spesialis Mata</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/triana.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Triana Darmayanti Akbar, SpA</h2>
                <p>Dokter Spesialis Anak</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/zulfikri.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Zulfikri</h2>
                <p>Dokter Umum</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/ahmad.png"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Ahmad Affandi, SpB</h2>
                <p>Dokter Spesialis Bedah Umum</p>
              </ion-label>
            </ion-item>
            
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/lestari.jpg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Lestari Handayani, Mkes, SpTHT-KL</h2>
                <p>Spesialis THT</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/Andina.png"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>drg. Andina Alia Latief</h2>
                <p>Dokter Gigi Umum</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="assets/icon/bono.png"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>dr. Bono Noorwijayanto, Sp.Rad</h2>
                <p>Dokter Spesialis Radiologi</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  
  
  <!-- Prestasi -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hubungi kami</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          021-5732241
          
        </ion-item>
        <ion-item>
          <ion-icon name="map" slot="start"></ion-icon>
          Jalan Garnisun No.1, Jalan Jend.Sudirman, RT.5/RW.4, Karet Semanggi, Kec.Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12930
        </ion-item>
        <ion-item>
          <ion-icon name="star" slot="start"></ion-icon>
          marketing@rsjakarta.co.id
         
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <!-- berita -->

  <ion-segment>
    <ion-segment-button value="acara">
      <ion-text color="medium">
        <h1>PROMO DAN PAKET</h1>
      </ion-text>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-grid>
      <!-- Baris pertama -->
      <ion-row>
        <!-- Kolom 1 -->
        <ion-col size="5" size-md="4">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/promo.jpeg" alt="Foto Acara Kampus 4">
              
              
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 2 -->
        <ion-col size="5" size-md="4">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/oromo2.png" alt="Foto Acara Kampus 4">
              
              
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <!-- Kolom 3 -->
        <ion-col size="5" size-md="4">
          <ion-card>
            
            <ion-card-content>
              <img src="assets/icon/promo3.jpeg" alt="Foto Acara Kampus 4">
              
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-list>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>
          ARTIKEL DAN INFORMASI RS JAKARTA
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/Dispepsia.png" alt="Judul Berita 1">
      </ion-thumbnail>
      <ion-label>
        <h2>Ketahui Lebih Banyak Mengenai Dispepsia</h2>
        <p>May 11, 2023 </p>
        <p>Dispepsia adalah istilah yang digunakan untuk menggambarkan kondisi perut yang tidak nyaman atau gangguan pencernaan. Beberapa gejala umum dispepsia meliputi perut kembung, mual, nyeri perut, mulas, atau perasaan kenyang. </p>
      </ion-label>
    </ion-item>
  

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/icon/Bleaching.png" alt="Judul Berita 1">
        </ion-thumbnail>
        <ion-label>
          <h2>Gigi Kamu Mulai Berubah Warna? Bleaching Solusinya!</h2>
          <p>April 19, 2023</p>
          <p>Teeth whitening/bleaching adalah prosedur untuk mencerahkan gigi dengan cara menghilangkan noda-noda di permukaan gigi yang disebabkan oleh faktor ekstrinsik dan intrinsik oleh bahan aktif hydrogen peroksida atau karbamid peroksida</p>
        </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/icon/ususbuntu.png" alt="Judul Berita 2">
        </ion-thumbnail>
        <ion-label>
          <h2>Laparascopi Appendictomi : Bedah Invasif Minimal untuk Pengangkatan Usus Buntu</h2>
          <p>March 28, 2023 </p>
          <p>Penyebab pasti radang usus buntu atau Apendisitis adalah sumbatan oleh berbagai benda, termasuk feses maupun benda yang sangat kecil. Apendisitis juga dapat disebabkan oleh bakteri atau parasit. </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/icon/Ankle.png" alt="Judul Berita 2">
        </ion-thumbnail>
        <ion-label>
          <h2>Penanganan Cedera Ankle dengan Minimal Invasive Surgery</h2>
          <p>February 22, 2023  </p>
          <p>Cedera Ankle atau keseleo dapat terjadi secara tak terduga saat kita beraktivitas. Penyebab utama cedera Ankle adalah perenggangan pergelangan kaki yang menyebabkan ligamen luka.  </p>
        </ion-label>
      </ion-item>
    
      <!-- Tambahkan berita lainnya sesuai kebutuhan -->
  
    

  <!-- Footer -->
  