<ion-header>
  <ion-toolbar>
    <ion-title>
      Tentang Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Selamat Datang!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Saya adalah Amalya Syohiba, seorang pengembang perangkat lunak dengan minat dalam pengembangan aplikasi mobile dan web. Saat ini, saya aktif belajar dan eksplorasi teknologi terbaru dalam dunia pengembangan perangkat lunak.</p>

      <p>Pada waktu luang, saya suka Traveling, membaca buku teknologi, dan berkontribusi dalam komunitas pengembangan perangkat lunak.</p>

      <p>Terima kasih telah mengunjungi halaman "Tentang Saya" saya di aplikasi ini. Jangan ragu untuk menghubungi saya jika Anda memiliki pertanyaan atau ingin berbicara lebih lanjut!</p>
    </ion-card-content>
  </ion-card>



<ion-content>
 <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Kontak saya</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            <p><strong>Wa :</strong> 082276549809</p>
            <p><strong>Ig :</strong> amalyasyohiba11</p>
            <p><strong>Fb :</strong> Amalya Syohiba</p>
            <p><strong>Email :</strong> amalyasyohiba8@gmail.com</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto">
        <ion-card>
      
            <div class="image-container" style="width: 100px">
              <img src="assets/icon/paspoto.jpg" alt="Your Image">
            </div>
    

        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-card>

 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Company</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Company:</strong>  www.rsjakarta.co.id</p>
      <p><strong>Website:</strong> <a href="www.rsjakarta.co.id">RSJakarta</a></p>
      <p><strong>Location:</strong>  Daerah Khusus Ibukota Jakarta 12930</p>
      <p><strong>Phone:</strong> +62 82356-7890</p>
    </ion-card-content>
  </ion-card>
</ion-content>

